.login_link {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 3%;

    a {
        text-decoration: none;
        color: black;
    }
}

.home_content {
    max-width: 100%;

    .popular_albums {
        
        .content_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: none;
                color: gray;    
            }
 
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                list-style-type: none;
                flex-direction: column;
                align-items: flex-start;

                img {
                    width: 20vh;
                    height: 20vh;
                    border-radius: 10px;
                }

                p {
                    width: 100px;
                    overflow-wrap: break-word;
                    font-size: 12px;
                }

                p:last-child {
                    font-size: 10px;
                    color: gray;
                }

            }

            li:last-child {
                margin: 0;
            }
        }
    }

    .popular_artists {
        .content_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: none;
                color: gray;    
            }
 
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                list-style-type: none;
                flex-direction: column;
                align-items: flex-start;

                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 10px;
                }

                p {
                    width: 100px;
                    overflow-wrap: break-word;
                    font-size: 12px;
                }

            }

            li:last-child {
                margin: 0;
            }
        }

    }
}